<div class="container">
<div class="jumbotron">
  <h1>The Idea</h1>
  <p style="font-size: 1em">
  	Every year roughly twenty million students attend college in the United States, all of whom purchase textbooks for their classes. During one school year, the typical college student takes eight courses, with each course requiring at least one textbook. This translates into the average college student spending nearly two thousand dollars a school year on textbooks. Given that the rising cost of college tuition is already making it difficult financially (and at times even impossible) for students who are interested in attending college to do so, it’s becoming not a luxury, but a necessity, for textbooks to be available at a cheaper, more reasonable price. </p>
  	<p style="font-size: 1em">
  	College students long ago figured out that the way to save money on textbooks is to buy them used. However, more importantly, students have discovered that a great way to recover some of the money spent on textbooks is to sell them to one of numerous online buyers. Unfortunately for the students, these online buyers are businesses looking to make a profit, which means they buy textbooks for a fraction of what students paid for them. The solution to the problem of students losing massive amounts of money on textbooks, is to put the selling into the hands of the students, who are less interested than the online buyers in making a profit. This is what Textbook Trading Post does.</p>
<p style="font-size: 1em">
Textbook Trading Post will set up online networks for individual universities and colleges where students can create a profile and list what textbooks they currently own. (It should be noted that by having every university and college have their own network, shipping costs will be eliminated and the time between when the student purchases and receives the textbook will be greatly shortened.</p>
<p style="font-size: 1em">
Students will then be able to sell their textbooks, which will be done by listing their asking price and allowing other students to purchase the book; then they would discuss a time and place where they could meet and complete the transaction (this will be done using their school email addresses). The reason this is better than having students buy or sell their textbooks online is as follows. Let’s say that Student A buys a used textbook for his calculus class for fifty dollars. At the end of the semester Student A discovers that online companies are offering—at the most—twenty dollars for his calculus textbook. However, there is another student, Student B, planning to take calculus during the upcoming semester and discovers that the cheapest he can buy the calculus textbook for is fifty dollars. The selling feature on Textbook Trading Post would allow Student A to make more money off the sale of his textbook and allow Student B to save money off his purchase of the textbook. For example, if Student A listed his textbook for thirty-five dollars and Student B purchased it, Student A will have made an extra fifteen dollars, and Student B will have saved fifteen dollars. </p>
</div>
</div>

<style>
.jumbotron{
    background-color:#4C0009;
    color: white;
    font-family: Helvetica;
}



</style>