
<div class="jumbotron shortjumbotron">
    <div class="container">
  <h1>Buy</h1>
  <p>Welcome to the "Buy" Page! When you see a textbook you want, just click the "Buy" button and you will be provided with the seller's Bates email address. Shoot the seller an email and arrange a time to meet.</p>
</div>
</div>



        <div class="row">

            <div class="col-lg-7 col-md-7">
                
                    <center><img class="img-responsive" src="http://images.betterworldbooks.com/054/Calculus-Larson-Ron-9780547167022.jpg" height="400em" width="320em" alt=""></center>
                
            </div>

            <div class="col-lg-5 col-md-5">
                <h3>Calculus, 9th Edition by Larson and Edwards</h3>
                <h4>Asking Price: $45</h4>
                <p>The textbook is in really great condition. In fact, it almost looks new! I'm asking for 45 dollars, but I'm willing to negotiate.</p>
                <a class="btn btn-warning" href="/calculus">Buy</a>
            </div>

        </div>

        <hr>

        <div class="row">

            <div class="col-lg-7 col-md-7">
                
                    <center><img class="img-responsive" src="http://www2.fiu.edu/~chapagap/PHY_2048/college.jpg" height="400em" width="320em" alt=""></center>
                
            </div>

            <div class="col-lg-5 col-md-5">
                <h3>College Physics, 9th edition by Young </h3>
                <h4>Asking Price: $35</h4>
                <p>The textbook isn't in amazing condition, but all the pages are readable. The price is firm, as the textbook goes for over $100 new.</p>
                <a class="btn btn-warning" href="/physics">Buy</a>
            </div>

        </div>

        <hr>

        <div class="row">

            <div class="col-lg-7 col-md-7">
                
                    <center><img class="img-responsive" src="http://societyforvisualanthropology.org/wordpress/wp-content/uploads/2009/07/viewpointscover.jpg" height="400em" width="320em" alt=""></center>
  
            </div>

            <div class="col-lg-5 col-md-5">
                <h3>Viewpoints by Strong and Wilder</h3>
                <h4>Asking Price: $70</h4>
                <p>I never ended up taking the class, so the textbook is in new condition. This is a great deal considering it goes for $120 new!</p>
                <a class="btn btn-warning" href="/viewpoints">Buy</a>
            </div>

        </div>

      
        </div>

          <div class="row text-center">

            <div class="col-lg-12">
                <ul class="pagination">
                    <li><a href="#">&laquo;</a>
                    </li>
                    <li class="active"><a href="#">1</a>
                    </li>
                    <li><a href="#">2</a>
                    </li>
                    <li><a href="#">3</a>
                    </li>
                    <li><a href="#">4</a>
                    </li>
                    <li><a href="#">5</a>
                    </li>
                    <li><a href="#">&raquo;</a>
                    </li>
                </ul>
            </div>

        </div>
       
    </div>
    <!-- /.container -->

    <!-- JavaScript -->
    <script src="js/jquery-1.10.2.js"></script>
    <script src="js/bootstrap.js"></script>


<style>
.jumbotron{
    background-color:#4C0009;
    color: white;
    font-family: Helvetica;

  }
  .btn-warning{
  background-color: black;
  border-color: black;
  color: white;
}
</style>