<div class="container">
<img src="http://2.bp.blogspot.com/_W90V87w3sr8/TNsGo-RmB_I/AAAAAAAAAJw/1a2W7u0LBJA/s1600/baby_bobcat.jpg" width="300em" height="225em" />

<h1>Bobby the Baby Bobcat says:</h1>
<h2>You just purchased <i>Calculus</i> by Larson and Edwards</h2>
<p>Contact Gabe at glevin@bates.edu to arrange a time and place to meet.</p>
</div>