<div class="container">
<div class="jumbotron">
  <h1>Hello Bates College!</h1>
  <p>Buying and selling textbooks is a hassle. Let's make it easier! The Textbook Trading Post cuts out the middle man (the bookstore and online textbook buyers), and puts the buying and selling power directly into the hands of  students. Here's how it works. If you're looking to sell your textbook, simply list it by following the instructions found on the "Sell" page and it will show up on the "Buy" page. If you're looking to buy a textbook, simply browse from the list found on the "Buy" page. Once you see the textbook you want,  click the "buy" button and you will be provided with the sellers Bates email address. From there you can arrange a time and place to meet. It's that easy! </p>
  <p><a href="/users/sign_in" class="btn btn-warning btn-lg" role="button">Sign In</a>
  <a href="/users/sign_up" class="btn btn-warning btn-lg" role="button">Sign Up</a></p>
</div>
</div>

<style>
.jumbotron{
    background-color:#4C0009;
    color: white;
    font-family: Helvetica;
}
.btn-warning{
  background-color: black;
  border-color: black;
  color: white;
}



</style>