<h1>Welcome!</h1>
<p>This is my Textbook Trading Post website.</p>
<p>Change</p>

<h1>Portal to Other Pages</h1>
<ul>
<li><a href="/">Home</a></li>
<li><a href="/about">About</a></li>
<li><a href="/buy">Buy</a></li>
<li><a href="/myprofile">My Profile</a></li>
<li><a href="/sell">Sell</a></li>
<li><a href="/trade">Trade</a></li>
</ul>