<body>
<div class="jumbotron shortjumbotron">
  <div class="container">
  <h1>Sell</h1>
  <p>Welcome to the "Sell" page! To post your textbook for sale, simply follow the steps below. </p>
</div>
</div>


<div class="container">
<form class="form-horizontal">
  <div class="form-group col-lg-10">
      <input type="text" class="form-control" placeholder="Enter the name, edition, and author(s) of your book...">
  </div>

  <div class="form-group col-lg-10">
    <input type="text" class="form-control" placeholder="Enter your asking price...">
  </div>

  <div class="form-group col-lg-10">
    <input type="text" class="form-control" placeholder="Enter miscellaneous information here, such as the book's condition and whether or not the price is negotiable...">
  </div>
  <div class="form-group col-lg-10">
    <button type="button" class="btn btn-warning btn-sm">
  <span class="glyphicon glyphicon-camera"></span> Upload Photo
</button>
</div>

</form>


<div class="row">
  <div class="col-lg-12 text-center">
    <a href="/myprofile"><button type="button" class="btn btn-warning btn-lg">
 Post
</button></a>
</div>
</div>

</body>

<style>
.btn-warning{
    background-color: black;
    border-color: black;
    color: white;
    
  }
.jumbotron{
    background-color:#4C0009;
    color: white;
    font-family: Helvetica;
}
.form-control{
    border-color: black;
  }



</style>