<div class="jumbotron">
  <h1>Sell</h1>
  <p>Welcome to the "Sell" page! To post your textbook for sale, simply follow the steps below. </p>
</div>


    <p>
  <div class="col-lg-10">
    <input type="text" class="form-control" placeholder="Enter the name, edition, and author(s) of your book...">
  </div>
</p>

<p>
  <div class="col-lg-10">
    <input type="text" class="form-control" placeholder="Enter your asking price...">
  </div>
</p>

<p>
  <div class="col-lg-10">
    <input type="text" class="form-control" placeholder="Enter miscellaneous information here, such as the book's condition and whether or not the price is negotiable...">
  </div>
</p>


<p>
<button type="button" class="btn btn-warning btn-sm">
  <span class="glyphicon glyphicon-camera"></span> Upload Photo
</button>
</p>


<center><p>
<a href="/myprofile"><button type="button" class="btn btn-warning btn-lg">
 Post
</button></a>
</p>
</center>

<style>
.btn-warning{
    background-color: black;
    border-color: black;
    color: white;
}
.jumbotron{
    background-color:#4C0009;
    color: white;
    font-family: Helvetica;
}
.form-control{
    border-color: black;
}
</style>